In [1]:
import pandas as pd

In [2]:
last_names = pd.read_csv("bank_users.csv")["last_name"]

In [3]:
bank_account = pd.read_csv("bank_users.csv")["bank_account"]

In [4]:
bank_account.head()

0    58.0
1    70.0
2    48.0
3    92.0
4    78.0
Name: bank_account, dtype: float64

In [5]:
last_names.sort_values()

63         Adamec
173      Alyokhin
184      Ancliffe
116         Artis
39            Ary
          ...
191        Wraith
71     Yakobovicz
188       Yglesia
15       Youngman
82        Yushkin
Name: last_name, Length: 200, dtype: object

In [6]:
bank_account.sort_values()

34     10.0
65     10.0
174    10.0
125    11.0
89     11.0
       ...
151     NaN
166     NaN
169     NaN
197     NaN
199     NaN
Name: bank_account, Length: 200, dtype: float64

In [7]:
last_names.sort_values(ascending=False)

82        Yushkin
15       Youngman
188       Yglesia
71     Yakobovicz
191        Wraith
          ...
39            Ary
116         Artis
184      Ancliffe
173      Alyokhin
63         Adamec
Name: last_name, Length: 200, dtype: object

In [8]:
bank_account.sort_values(ascending=False)

49     100.0
127    100.0
51      98.0
87      97.0
96      97.0
       ...
151      NaN
166      NaN
169      NaN
197      NaN
199      NaN
Name: bank_account, Length: 200, dtype: float64

In [9]:
bank_account.sort_values(ascending=False).head

<bound method NDFrame.head of 49     100.0
127    100.0
51      98.0
87      97.0
96      97.0
       ...
151      NaN
166      NaN
169      NaN
197      NaN
199      NaN
Name: bank_account, Length: 200, dtype: float64>

In [10]:
bank_account.sort_values(ascending=False).tail

<bound method NDFrame.tail of 49     100.0
127    100.0
51      98.0
87      97.0
96      97.0
       ...
151      NaN
166      NaN
169      NaN
197      NaN
199      NaN
Name: bank_account, Length: 200, dtype: float64>